@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter var";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/Inter-roman-latin.var.woff2") format("woff2") tech("variants"),
    url("/Inter-roman-latin.var.woff2") format("woff2-variations");
}
